* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTAINER */
.container {
    width: 900px;
    height: 520px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* LEFT PANEL */
.left {
    flex: 1;
    background: linear-gradient(135deg, #ff4b8b, #ff7aa2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centers vertically */
    align-items: center;
    /* centers horizontally */
    text-align: center;
    padding: 40px;
    position: relative;
}

/* circle effects */
.left::before,
.left::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
}

.left::before {
    width: 200px;
    height: 200px;
    top: -50px;
    right: -50px;
}

.left::after {
    width: 250px;
    height: 250px;
    bottom: -80px;
    left: -80px;
}

.left h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.left p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* REGISTER BUTTON */
.register-btn {
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 25px;
    background: transparent;
    color: white;
    cursor: pointer;
}

/* RIGHT PANEL */
.right {
    flex: 1;
    background: #f9f9f9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TITLE */
.right h2 {
    color: #ff4b8b;
    margin-bottom: 20px;
}

/* INPUTS */
.right input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: #e0e0e0;
}

/* REMEMBER */
.remember {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

/* LOGIN BUTTON */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #ff4b8b, #ff7aa2);
    color: white;
    cursor: pointer;
}

/* SOCIALS */
.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    font-size: 18px;
}