<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <!-- Left side -->
        <div class="left">
            <h1>Hey there,<br>Welcome!</h1>
            <p>Don't have an account?</p>
            <button class="register-btn">Register</button>
        </div>

        <!-- Right side -->
        <div class="right">
            <h2>Login</h2>

            <form action="/login" method="POST">

                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>

                <div class="remember">
                    <input type="checkbox" name="remember">
                    <span>Remember Me</span>
                </div>

                <a href="/register">
                    <button class="register-btn">Register</button>
                </a>

            </form>

            <div class="socials">
                <span>G</span>
                <span>f</span>
                <span></span>
            </div>
        </div>